sssss
   <div class="table-wrapper">
    <div class="table-scroll">
        <input listen-focus ng-model="searchText" ng-change="filterDatas()" placeholder="Search someone, a structure or a skill...">

        <table ng-show="searchText" class="searchTextResults">
            <tr ng-show="actorsResults.length">
                <td class="title">Actors</td>
            </tr>
            <tr ng-repeat="actor in actorsResults = (filteredActors | andFilter: searchText: 'AND' | orderBy : 'name')">
                <td><a ng-href="#" ng-click="">{{actor.name}}</a>
                </td>
            </tr>


            <tr ng-show="structuresResult.length">
                <td class="title">Structures</td>
            </tr>
            <tr ng-repeat="structure in structuresResult  = (filteredStructures | andFilter: searchText: 'AND' | orderBy : 'name')">
                <td>
                <a ui-sref="structures.show({ id: structure.id })" ng-click="">{{structure.name}}<span class="city">{{structure.city}}</span></a>
                </td>
            </tr>

            <tr ng-show="skillsResults.length">
                <td class="title">Skills</td>
            </tr>
            <tr ng-repeat="skill in skillsResults = (filteredSkills | andFilter: searchText: 'AND' | orderBy : 'name')">
                <td><a href="#" ng-click="filterSkills(skill)">{{skill.name}}</a>
                </td>
            </tr>


        </table>
    </div>
</div>